<div class="col-xs-12">
  <p class="text-3x text-lighter-1x pb10 bold">
    <img style="display:inline-block;max-height: 1.4em;" class="hidden-xs pr10" src="assets/images/checkout/union-pay-logo-large.png"/>
    {{'checkout.payment_options.union_pay.label' | translate}}
  </p>

  <img src="assets/images/checkout/union-pay-logo-large.png" alt="" class="img img-responsive center visible-xs pb10">

  <p class="lead text-lighter-2x pb20 pt10">
    {{'checkout.payment_options.union_pay.customers_subject_to' | translate}}
  </p>

  <div class="ibanks text-lighter-2x">
    <span class="bank_logo icbc">ICBC</span>
      <span class="bank_logo abc">ABC </span>
      <span class="bank_logo boc">BOC</span>
      <span class="bank_logo ccb">CCB</span>
      <span class="bank_logo comm">BOCOM </span>
      <span class="bank_logo psbc">PSBC</span>
      <span class="bank_logo citic">CITIC </span>
      <span class="bank_logo ceb">CEB</span>
      <span class="bank_logo hxb">HXB</span>
      <span class="bank_logo cmbc">CMSB </span>
      <span class="bank_logo gdb">CGB</span>
      <span class="bank_logo cmb">CMBC</span>
      <span class="bank_logo cib">CIB</span>
      <span class="bank_logo spd">SPDB </span>
      <span class="bank_logo pingan">PAB </span>
      <span class="bank_logo beijing">BOBJ</span>
      <span class="bank_logo shanghai">BOS</span>
      <span class="bank_logo nbcb">NBCB</span>
      <span class="bank_logo citi">Citibank</span>
      <span class="bank_logo hkbea">HKBEA</span>
  </div>
</div>
