#o2o-top-logo span.logo {
  height: 33px;
  width: 90px;
  background-size: cover;
  display: block;
  background-image: url(../images/header/header-logo.en.png)
}
:lang(zh) #o2o-top-logo span.logo {
  width: 127px;
  background-image: url(../images/header/header-logo.zh.png)
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  #o2o-top-logo span.logo {
    background-image: url(../images/header/header-logo.en_2x.png)
  }
  :lang(zh) #o2o-top-logo span.logo {
    background-image: url(../images/header/header-logo.zh_2x.png)
  }
}

#o2o-top-logo span.alpha,
#o2o-top-logo span.beta {
  background-size: cover;
  display: block;
  position: absolute;
}

#o2o-top-logo span.alpha {
  background-image: url(../images/header/alpha.png);
  right: 0%;
  bottom: 7%;
  height: 15px;
  width: 43px;
}
:lang(zh) #o2o-top-logo span.alpha {
  right: 2%;
}
@media (max-width: 979px) {
  #o2o-top-logo span.alpha {
    bottom: 0%;
  }
}

#o2o-top-logo span.beta {
  background-image: url(../images/header/beta.png);
  height: 15px;
  width: 25px;
  right: 17px;
  bottom: 4px;
}
:lang(zh) #o2o-top-logo span.beta {
  right: 12px;
}
