[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.root-ui-view-container {
  -webkit-min-height: 90vh;
  -moz-min-height: 90vh;
  -ms-min-height: 90vh;
  -o-min-height: 90vh;
  min-height: 90vh;
}
.root-ui-view-container [ui-view].ng-enter,
.root-ui-view-container [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

.root-ui-view-container [ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.2, 0.2, 0.2);
  -moz-transform:scale3d(0.2, 0.2, 0.2);
  transform:scale3d(0.2, 0.2, 0.2);
}

.root-ui-view-container [ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.root-ui-view-container [ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.root-ui-view-container [ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}


/*@keyframes*/
 fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*.ng-enter:not(.disable-animations) {
  animation: fadeIn .2s;
}

.ng-leave:not(.disable-animations) {
  animation: fadeOut .2s;
}*/

.disable-animations.ng-enter,
.disable-animations.ng-leave,
.disable-animations.ng-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.disable-animations.ng-animate {
  -webkit-animation: none 0s;
  animation: none 0s;
}
