<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p5 pb0">
  <div class="panel panel-hover panel-default panel-product"
    ng-class="{
        'out-of-stock': (product.quantity == 0),
        'in-stock': (product.quantity != 0),
        'featured-product': (!!product.featured)
      }">
    <div class="panel-heading pt0 pb0 pr5 pl10 clearfix">
      <div class="row">
        <div class="col-xs-10">
          <h4
            ng-click="::$state.go('root.product.slug', {'sku':product.sku, 'slug':product.slug})"
            class="product-name text-left extra-large text-primary bold overflow-ellipsis"
            ng-bind-html="get_lang_attr(product, 'name')"></h4>
        </div>
        <div class="col-xs-2 pr10">
          <div class="dropdown">
            <button class="btn btn-default btn-xs pull-right text-primary m0 dropdown-toggle"
                    type="button" id="dropdownMenu-{{::product.id}}" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="material-icons material-icons-more_vert md-24 text-lighter-1x rotate-90"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right material-icons-pull-right" aria-labelledby="dropdownMenu-{{product.id}}">
              <li>
                <a ui-sref="root.product.slug(::{'sku':product.sku, 'slug':product.slug})">
                  <span class="text-lighter-1x" ng-bind-html="get_lang_attr(product, 'name')"></span>
                  <i class="material-icons material-icons-keyboard_arrow_right pull-right text-lighter-2x"></i>
                </a>
              </li>
              <li ng-disabled="product.quantity == 0" ng-class="{'disabled': (product.quantity == 0)}">
                <a ng-disabled="product.quantity == 0" ng-click="::(product.quantity >0) ? add_to_cart(product) : false">
                  <span class="text-lighter-1x">{{'general.add_to_cart' | translate}}</span>
                  <i class="material-icons material-icons-add_shopping_cart pull-right text-lighter-2x"></i>
                </a>
              </li>
              <li>
                <a ui-sref="root.brand(::{brand_id: product.brand.id, brand_name: brand_meta(product.brand.id, 'name')})">
                  <span class="text-lighter-1x">{{ 'general.brand' | translate }}: {{brand_meta(product.brand.id, 'name')}}</span>
                  <i class="material-icons material-icons-keyboard_arrow_right pull-right text-lighter-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-image hide-panel-body position-relative">
      <img
        ng-click="::$state.go('root.product.slug', {'sku':product.sku, 'slug':product.slug})"
        alt="{{product.images[0].alt}}" ng-src="{{::product.images[0].src}}"
        class="img-responsive withripple center" />

      <div ng-if="product.featured" class="tag featured-product">
        <i class="material-icons material-icons-star ml5 mt-3"></i>
        {{'general.product-tags.featured' | translate}}
      </div>
      <div ng-if="product.quantity == 0" class="tag out-of-stock">
        {{'general.product_stock.no_stock' | translate}}
      </div>

    </div>

    <div class="panel-footer pt0 pb0 pr5 pl10 clearfix">
      <div class="row product-panel-footer-row">
        <div class="col-xs-5 pr0">
          <span
            ng-class="(!!_.get($store.user, 'does_recive_5_percent_discount')) ? 'bold' : 'normal'"
            class="product-price text-orange display-inline text-larger-2x"
            >
            {{get_price_str(product.price, true)}}
          </span>

          <span
            ng-if="!!_.get($store.user, 'does_recive_5_percent_discount')"
            class="display-inline bold text-lighter-2x text-black product-price discount">
            <s>{{get_price_str(product.price, false)}}</s>
          </span>
        </div>
        <div class="col-xs-7 pl0">
          <div class="pull-right">

            <span uib-rating
              ng-class="(product.rating.num_reviews > 0) ? '' : 'pr5'"
              class="star-rating text-lighter-1x"
              ng-model="product.rating.average"
              rating-states="TEMPORARY_ROOTSCOPE_GET_STAR_STATES(product.rating.average, product.rating.num_reviews)"
              max="5"
              read-only="true">
            </span>

            <span
              ng-if="product.rating.num_reviews > 0"
              class="num-reviews text-lighter-2x">
              ({{product.rating.num_reviews}})
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
