<div class="rma rma-index container-fluid pb20">
  <div ng-if="rma.order() && rma.order().products">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="border-left-orange extra-large text-lighter-1x mb20">
          {{ 'rma.status.title' | translate }}
          <small>{{rma.data.status}}</small>
          <small>
            <a ng-if="::!!$store.user" target="_blank" class="btn btn-orange btn-sm btn-raised" ui-sref="root.account.order({order_id: order_id})">{{ 'rma.invoice_no' | translate }}: {{::rma.order().invoice_no}} <i class="material-icons material-icons-open_in_new"></i></a>
            <a ng-if="::!!!$store.user" target="_blank" class="btn btn-orange btn-sm btn-raised" ui-sref="root.checkout.complete({order_id: order_id})">{{ 'rma.invoice_no' | translate }}: {{::rma.order().id}} <i class="material-icons material-icons-open_in_new"></i></a>
          </small>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="mt5">{{'rma.status.rma_info' | translate}}</h3>
          </div>
          <div class="panel-body table-responsive">
            <table class="table first_row-no_border_top">
              <tbody>
                <tr>
                  <td><strong>{{'rma.status.status' | translate}}</strong></td>
                  <td>{{rma.data.status}}</td>
                </tr>
                <tr>
                  <td><strong>{{'rma.status.rma_id' | translate}}</strong></td>
                  <td><code>{{rma.id()}}</code></td>
                </tr>
                <tr>
                  <td><strong>{{'rma.status.order_id' | translate}}</strong></td>
                  <td><code>{{rma.order().id}}</code></td>
                </tr>
                <tr>
                  <td><strong>{{'rma.status.active' | translate}}</strong></td>
                  <td>{{'rma.status.' + ( (!!rma.active()) ? 'true' : 'false') | translate}}</td>
                </tr>
                <tr>
                  <td><strong>{{'rma.status.created_on' | translate}}</strong></td>
                  <td>{{rma.created() | amCalendar:referenceTime:formats}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="item in rma.order().products" ng-class="(_.size(rma.order().products) > 1) ? 'col-md-6' : 'col-lg-12'">
        <div class="panel">
          <div class="panel-heading clearfix withripple">
            <h3 class="mt5 display-inline">
              {{get_lang_attr(item.product, 'name')}}
            </h3>
          </div>
          <div class="panel-body">
            <img ng-src="{{::item.product.images[0].src}}" ng-alt="{{::item.product.images[0].alt}}" class="img-responsive pr0 pl0" ng-class="(_.size(rma.order().products) > 1) ? 'center' : ''">
          </div>
          <div class="panel-body table-responsive">
            <table class="table table-fixed">
              <tbody>
                <tr>
                  <td width="35%" class="no-border-top"><strong>{{'rma.status.sku' | translate}}</strong></td>
                  <td class="no-border-top">{{item.product.sku}}</td>
                </tr>
                <tr>
                  <td width="35%"><strong>{{'rma.index.quantity_to_return' | translate}}</strong></td>
                  <td>{{::rma.data.items[item.product.id].quantity}}</td>
                </tr>
                <tr>
                  <td width="35%"><strong>{{'rma.index.why_are_you_returning' | translate}}</strong></td>
                  <td>
                    <p>{{'rma.reasons.' + rma.data.items[item.product.id].reason | translate}}</p>
                  </td>
                </tr>
                <tr>
                  <td width="35%"><strong>{{'rma.index.comments' | translate}}</strong></td>
                  <td>
                    <p>{{rma.data.items[item.product.id].comments}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div ng-if="!_.isEmpty(rma.data.general_comment)" class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="mt5">{{'rma.info.general_comment' | translate}}</h3>
          </div>
          <div class="panel-body withripple">
            <blockquote>{{rma.data.general_comment}}</blockquote>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div ng-if="!rma.order()" class="clearfix pt50">
    <div class="jumbotron col-md-8 center">
      <h2 class="extra-large text-lighter-1x">Verifying Information ... </h2>
      <div class="center col-xs-2 pt50 pb50"><spinner></spinner></div>
    </div>
  </div>
</div>
